<!doctype html>
<html lang="en">
  <head>
    <title>Ryan Paul Gannon</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Ryan Paul Gannon</h1>
      </div>
      <nav>
        <a href="/">Home</a>
        <!-- <a href="/calendar">Calendar</a> -->
        <!-- <a href="/books">Books</a> -->
        <!-- <a href="/login">Login</a> -->
      </nav>
      <div class="main">
        <div class="card">
          <p>
            Bonjour, I'm Ryan, enchanté! I'm an Engineer from 🏴󠁧󠁢󠁥󠁮󠁧󠁿 Westhoughton,
            England
            <br />
          </p>

          <p class="main-text">
            You can find me contributing to Open Source on
            <a href="https://github.com/ryanpaulgannon" target="_blank"
              >GitHub</a
            >
            and working on some personal projects ou apprendre le francais.
          </p>

          <!-- <p> -->
          <!--   I've a keen sporting interest, mostly for ⚽️, 🏏 and the NFL 🏈. -->
          <!--   I'll talk almost anything sport! -->
          <!-- </p> -->
          <!-- <p>Some projects I'm working on/contributing to:</p> -->
        </div>
      </div>
    </div>
  </body>
</html>
